html, body{
	margin: 0px;
	padding: 0px;
    width: 100%;
}

/*.mainView{
    padding-top: 100px;
}*/

/*Navbar**************************************************/
.navWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    position: fixed;
    width: 100%;
    flex-wrap: wrap;
    background-color: white;
    margin-bottom: 20px;
}

.navWrapper > div{
    margin-top: 20px;
    margin-bottom: 20px;
}

.navScrolled{
    flex-direction: row;
}

/*Logo**************************************************/
.logo{
    width: 100%;
    transition: width 0.2s;
}

.logoSmall{
    width: 0%;
}

.logoInit{
    height: 100px;
}

.logoDown{
    height: 30px;
}

/*For debuging */
.DB{
    border: 1px solid red;
}