<div>
    <div class="jumbotron" id="jumbotron">
        <div class="floater"><p>kiire.<br>odav. <br>kvaliteetne.<br>raamatupidamine</p></div>
    </div>
    <div class="foursome">
        <div class="fouritem texter">
            <h1>Eripakkumine</h1>
            <p>Eripakkumine lähima 12-kuu jooksul algust teinud ettevõtetele. Meie saame aru kui raske on esimene aasta algava ettevõtte jaoks. Kõige tihedamini on kõige vähem kaitstud esimese aasta jooksul algav ettevõte piiratud rahaliste resursside, tihedalt muutuvate seaduste ja puuduvate püsiklientide tõttu. Meie otsustasime lihtsustada seda olukorda, pakkudes meie teadmisi, kogemusi ja oskusi.</p>
        </div>
        <div class="fouritem iconic">
            <div class="firstRow">
                <h1>MEIE PAKUME</h1>
            </div> 
            <div class="secondRow">
                <img class="fourpic" src="./assets/book.png" alt="law icon" height="150px" width="150px">
                <p>TEENUSED</p>
            </div>
            <div class="secondRow">
                <img class="fourpic" src="./assets/user.png" alt="law icon" height="150px" width="150px">
                <p>KONSULTATSIOONID</p>
            </div>
            <div class="thirdRow">
                <img class="fourpic" src="./assets/graph.png" alt="law icon" height="150px" width="150px">
                <p>ÄRIPLAANID</p>
            </div>
            <div class="thirdRow">
                <img class="fourpic" src="./assets/law.png" alt="law icon" height="150px" width="150px">
                <p>FINANTS KONSULTEERIMINE</p>
            </div>
        </div>
        <div class="fouritem texter">
            <h1>Algaja ettevõted</h1>
            <p>Pakkumine noorele ettevõtele sisaldab: täispakett raamatupidamis lahendusi, millel on 100% soodustus esimese kuu jooksul. Pakkumine sisaldab: raamatupidamis poliitika väljatöötamine, raamatupidamis protsesside administreerimine, konsultatsioon jooksvate küsimuste jaoks. Meile on tähtis Teie edu!</p>
        </div>
    </div>
</div>